[Unit]
Description=Comments Backend
After=network.target

[Service]
ExecStart=/var/www/comments/comments
EnvironmentFile=/var/www/comments/environment
Type=exec
Restart=always

[Install]
WantedBy=default.target
