[Unit]
Description=Comments Backend
After=network.target

[Service]
ExecStart=/var/www/comments/comments
EnvironmentFile=/var/www/comments/environment
Type=exec
Restart=always
# Uncomment to run with user
# User=comments
# Group=comments

[Install]
WantedBy=default.target
